/* Styles for the login container */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

/* Styles for the center box */
.center-box {
  background-color: #f7f7f7;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 300px; /* Adjust the width as needed */
}

/* Styles for the login form */
.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Styles for the input group */
.input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

/* Styles for labels */
label {
  font-weight: bold;
  margin-bottom: 5px;
}

/* Styles for input fields */
input[type="text"],
input[type="password"] {
  padding: 12px; /* Increased padding */
  font-size: 16px; /* Increased font size */
  border: 1px solid #ddd;
  border-radius: 3px;
  width: 100%; /* Make the text boxes full width */
  box-sizing: border-box; /* Include padding and border in the width */
  margin: 0; /* Remove any margin */
}

/* Styles for the login button */
button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-weight: bold;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

/* Styles for connecting message */
.connecting-message {
  text-align: center;
  margin-top: 10px;
  color: #007bff;
}

/* Styles for error message */
.error-message {
  text-align: center;
  margin-top: 10px;
  color: #dc3545;
}
