/* Existing styles for the web version */
.mainNav {
  height: 60px;
  background-color: rgb(0, 120, 156);
  color: white;
  margin-bottom: 10px;
}

.sideComp {
  min-height: 100vh;
  border-right: 1px solid #ccc;
}

.connecting {
  text-align: center;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.main-title {
  font-size: 24px;
  margin-top: 20px;
  color: #333;
}

.connected {
  color: #62f384;
}

.internetDisconnect {
  color: #f54254;
}

.reconnecting {
  color: #f3c847;
}

.disconnected {
  color: white;
}

.data-container {
  margin-top: 20px;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.data-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.data-table th {
  text-align: left;
  background-color: #f5f5f5;
}

.data-table th, .data-table td {
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

/* Styles for message classes */
.normal-message {
  color: #28a745;
}

.control-message {
  color: #007bff;
}

.warning-message {
  color: #ffc107;
}

.critical-message {
  color: #dc3545; /* Red color for critical messages */
}

@media (max-width: 768px) {
  .data-table th, .data-table td,
  .styled-table th, .styled-table td {
    font-size: 10px;
  }

  /* Text color for mobile navigation menu items */
  .navbar-mobile a {
    color: white;
  }
  .container-fluid{
    padding-left: 0px;
    padding-right: 0px;
  }
}

/* Background color for the collapsed mobile menu button */
.navbar-toggler-icon {
  background-color: rgb(0, 120, 156);
  color: white; /* Text color for the button icon */
}
