.container {
  font-family: Arial, sans-serif;
  padding: 20px;
  background-color: #ffffff; /* White background */
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.connecting {
  text-align: center;
  margin: 40px auto;
  color: #c0392b; /* Red text color */
}

.main-title {
  font-size: 24px;
  color: #e74c3c; /* Dark red title color */
  margin-bottom: 10px;
}

.welcome-message {
  font-size: 18px;
  color: #333; /* Dark gray text color */
  margin-bottom: 5px;
}

.connection-time {
  font-size: 15px;
  color: #777; /* Medium gray text color */
  margin-top: 10px;
}

.current-status {
  font-size: 15px;
  margin-top: 10px;
}

.data-table th {
  text-align: right;
  color: #333;
  max-width: max-content;
}

.data-table td {
  text-align: left;
}

.styled-table {
  width: 100%;
  border-collapse: collapse;
}

.styled-table th {
  padding: 8px;
  text-align: center;
  border: 1px solid #ccc;
}


.styled-table td {
  padding: 8px;
  text-align: center;
  border: 1px solid #ccc;
}

.monitorWidth {
  font-weight: bold;
  width: 25%;
}

.dataWidth {
  width: 25%;
}

.normal-message, .connected {
  color: green;
}

.control-message {
  color: yellow;
}

.warning-message, .reconnecting {
  color: orange;
}

.critical-message, .disconnected, .internetDisconnect {
  color: red;
}

@media (max-width: 768px) {
  .data-table th, .data-table td,
  .styled-table th, .styled-table td {
    font-size: 10px;
  }
}